<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
    <system.web>
      <sessionState mode="InProc" cookieless="false" timeout="20" />
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />


      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" timeout="30" />
      </authentication>
      <authorization>
        <deny users="?" />
      </authorization>
      
      
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Register.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="UserRegister.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Cart.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <!--<add name="MarketingDBConnectionString" connectionString="Data Source=sql8002.site4now.net;Initial Catalog=db_aa978e_mydb;Integrated Security=false; User id =db_aa978e_mydb_admin; Password=Ahmed@2021" providerName="System.Data.SqlClient" />-->
    <add name="MarketingDBConnectionString" connectionString="Data Source=SQL8004.site4now.net;Initial Catalog=db_aaadbc_mydb; User id =db_aaadbc_mydb_admin; Password=Hany1976" providerName="System.Data.SqlClient" />
    <!--<add name="MarketingDBConnectionString" connectionString="Data Source=.;Initial Catalog=mydb;integrated security=true"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
